<div class="card">
	<div class="card-header">
		<div class="d-flex align-items-center">
			<h5 class="mb-0">Last Match</h5>
		</div>
	</div>
				
	<div class="wrapper container-fluid">
		<div class="text"></div>
		<div class="text">SCORE</div>
		<div class="text"></div>
	</div>
		<div class="card-body py-0 position-relative scrollable-y" style="min-height: 500px; max-height: 500px">
			<app-bloc-current-match *ngFor="let matchIt of matches$ | async" [match]="matchIt"></app-bloc-current-match>
		</div>
</div>
