<!-- List Contact -->
<a [routerLink]="['/user/', contact.login]" class="nav-link d-flex align-items-center">
<div class="me-4">
	<div class="position-relative d-inline-block text-white">
		<img alt="Image Placeholder" src="{{ contact.avatar }}" class="avatar rounded-circle">
		<span *ngIf="contact.isOnline" class="position-absolute bottom-2 end-2 transform translate-x-1/2 translate-y-1/2 border-2 border-solid border-current w-3 h-3 bg-success rounded-circle"></span>
		<span *ngIf="!contact.isOnline" class="position-absolute bottom-2 end-2 transform translate-x-1/2 translate-y-1/2 border-2 border-solid border-current w-3 h-3 bg-danger rounded-circle"></span>
	</div>
</div>
<div>
	<span class="d-block text-sm font-semibold"> {{ contact.nickName }} </span>
	<span class="d-block text-xs text-muted font-regular">{{ contact.login }}</span>
</div> 