<div class="wrapper d-flex container-fluid">
	<a [routerLink]="['/play/', match.gameId]"><img class="live" src="../../../../../../../assets/live.gif" alt="one-live"></a>
	<div class="one">
		<img alt="..." src="{{ match.winnerAvatar }}" class="avatar avatar-sm rounded-circle me-2">
		<a class="text-heading font-semibold" [routerLink]="['/user/', match.winner]">
		  {{ match.winner }}
		</a>
	</div>
	<div class="two">
		{{ match.winnerScore }}
		-
		{{ match.looserScore }}
	</div>
	<div class="three">
		<a class="text-heading font-semibold" [routerLink]="['/user/', match.looser]">
			{{ match.looser }}
		</a>
		<img alt="opposant-avatar" src="{{ match.looserAvatar }}" class="avatar avatar-sm rounded-circle me-2">
	</div>
</div>


