<main class="py-6 bg-surface-secondary">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-8">
		
				<!-- Security check -->
				<div class="card shadow border-0">
					<div class="card-body pb-0">
						<div class="mb-3 d-flex align-items-center">
							<h5 class="mb-0">Two-factor authentication</h5>
							<div class="ms-auto text-end">
								<a href="#" class="text-sm font-semibold">Enable</a>
							</div>
						</div>
						<div class="list-group list-group-flush">
							<div class="list-group-item d-flex align-items-center px-0">
								<div class="flex-fill">
									<!-- Title -->
									<a href="#" class="d-block h6 font-semibold mb-1">Authentication app</a>
									<!-- Subtitle -->
									<span class="d-block text-sm mb-2">Google auth app</span>
									<!-- Badges -->
									<div class="d-flex mx-n1">
									</div>
								</div>
								<div class="ms-auto text-end">
									<a href="#" class="btn btn-sm btn-neutral">Setup</a>
								</div>
							</div>
							<div class="list-group-item d-flex align-items-center px-0">
								<div class="flex-fill">
									<!-- Title -->
									<a href="#" class="d-block h6 font-semibold mb-1">Primary email</a>
									<!-- Subtitle -->
									<span class="d-block text-sm mb-2">E-mail used to send notifications</span>
									<!-- Badges -->
									<div class="d-flex mx-n1">
									</div>
								</div>
								<div class="ms-auto text-end">
									<a href="#" class="btn btn-sm btn-neutral">Setup</a>
								</div>
							</div>
							<div class="list-group-item d-flex align-items-center px-0">
								<div class="flex-fill">
									<!-- Title -->
									<a href="#" class="d-block h6 font-semibold mb-1">SMS Recovery</a>
									<!-- Subtitle -->
									<span class="d-block text-sm mb-2">Your phone number or something</span>
									<!-- Badges -->
									<div class="d-flex mx-n1">
									</div>
								</div>
								<div class="ms-auto text-end">
									<a href="#" class="btn btn-sm btn-neutral">Setup</a>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			
			<div class="col-xl-4">
				<div class="card shadow border-0">
					<div class="card-body pt-8">
						<div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
							<i class="bi bi-laptop"></i>
						</div>
						<h4 class="mt-5">Devices</h4>
						<p class="text-sm mb-7">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						</p>
						<button class="btn btn-sm btn-soft-tertiary">Sign out from all devices</button>
						<hr class="mt-8 mb-0" />
						<div class="list-group list-group-flush">
							<div class="list-group-item d-flex px-0">
								<div class="flex-fill">
									<a href="#" class="d-block h6 mb-1">
										<span class="d-inline-block w-7"><i
												class="bi bi-phone text-base"></i></span>iPhone 11
									</a>
									<p class="text-sm text-muted ms-7">
										London, UK · Oct 23 at 1:15 AM
									</p>
								</div>
								<div class="ms-auto text-end align-self-center">
									<div class="dropdown">
										<a class="text-muted" href="#" role="button" data-bs-toggle="dropdown"
											id="dropdownMore1" aria-haspopup="true" aria-expanded="false">
											<i class="bi bi-three-dots-vertical"></i>
										</a>
										<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
											<a href="#!" class="dropdown-item">
												Action
											</a>
											<a href="#!" class="dropdown-item">
												Another action
											</a>
											<a href="#!" class="dropdown-item">
												Something else here
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="list-group-item d-flex px-0">
								<div class="flex-fill">
									<a href="#" class="d-block h6 mb-1">
										<span class="d-inline-block w-7"><i
												class="bi bi-laptop text-base"></i></span>Macbook Pro
									</a>
									<p class="text-sm text-muted ms-7">
										London, UK · Oct 23 at 1:15 AM
									</p>
								</div>
								<div class="ms-auto text-end align-self-center">
									<div class="dropdown">
										<a class="text-muted" href="#" role="button" data-bs-toggle="dropdown"
											id="dropdownMore2" aria-haspopup="true" aria-expanded="false">
											<i class="bi bi-three-dots-vertical"></i>
										</a>
										<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
											<a href="#!" class="dropdown-item">
												Action
											</a>
											<a href="#!" class="dropdown-item">
												Another action
											</a>
											<a href="#!" class="dropdown-item">
												Something else here
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="list-group-item d-flex px-0">
								<div class="flex-fill">
									<a href="#" class="d-block h6 mb-1">
										<span class="d-inline-block w-7"><i
												class="bi bi-phone text-base"></i></span>iPhone SE
									</a>
									<p class="text-sm text-muted ms-7">
										London, UK · Oct 23 at 1:15 AM
									</p>
								</div>
								<div class="ms-auto text-end align-self-center">
									<div class="dropdown">
										<a class="text-muted" href="#" role="button" data-bs-toggle="dropdown"
											id="dropdownMore3" aria-haspopup="true" aria-expanded="false">
											<i class="bi bi-three-dots-vertical"></i>
										</a>
										<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
											<a href="#!" class="dropdown-item">
												Action
											</a>
											<a href="#!" class="dropdown-item">
												Another action
											</a>
											<a href="#!" class="dropdown-item">
												Something else here
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="list-group-item d-flex px-0">
								<div class="flex-fill">
									<a href="#" class="d-block h6 mb-1">
										<span class="d-inline-block w-7"><i
												class="bi bi-phone text-base"></i></span>Google Pixel 3
									</a>
									<p class="text-sm text-muted ms-7">
										London, UK · Oct 23 at 1:15 AM
									</p>
								</div>
								<div class="ms-auto text-end align-self-center">
									<div class="dropdown">
										<a class="text-muted" href="#" role="button" data-bs-toggle="dropdown"
											id="dropdownMore4" aria-haspopup="true" aria-expanded="false">
											<i class="bi bi-three-dots-vertical"></i>
										</a>
										<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
											<a href="#!" class="dropdown-item">
												Action
											</a>
											<a href="#!" class="dropdown-item">
												Another action
											</a>
											<a href="#!" class="dropdown-item">
												Something else here
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<a href="#" class="btn btn-neutral w-full mt-2">Need help?</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>