<div class="wrapper d-flex container-fluid">
	<div class="one">
		<img alt="..." src="{{ friend.avatar }}" class="avatar avatar-sm rounded-circle me-2">
		<a class="text-heading font-semibold" href="#">
		  {{ friend.fullName }}
		</a>
	</div>
	<div class="two">
		<div class="text">
			{{ friend.login }}
		</div>
	</div>
	<div class="three">
		<div class="text-success">
			{{ friend.win }}
		</div>
			- 
		<div class="text-danger">
			{{ friend.lost }}
		</div>
	</div>
	<div class="four">
		<div class="text">
			{{ rank | ordinal }}
		</div>
	</div>
	<div class="five">
		<span *ngIf="friend.isOnline" class="badge badge-lg badge-dot">
		   <i class="bg-success"></i>Online
		</span>
		<span *ngIf="!friend.isOnline" class="badge badge-lg badge-dot">
			<i class="bg-danger"></i>Offline
		 </span>
	</div>
	<div class="six">
		<td class="text-end">
		<a href="#" class="btn btn-sm btn-neutral">View</a>
		<button  *ngIf="friend.isOnline" type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
		  <i class="bi bi-controller"></i>
		</button>
	</div>
</div>
			