<div class="wrapper d-flex container-fluid">
	<div class="one">
		<img alt="..." src="{{ user.avatar }}" class="avatar avatar-sm rounded-circle me-2">
		<a class="text-heading font-semibold" [routerLink]="['/user/', user.login]">
		  {{ user.nickName }}
		</a>
	</div>
	<div class="two">
		<div class="text">
			{{ user.login }}
		</div>
	</div>
	<div class="three">
		<div class="text-success">
			{{ user.win }}
		</div>
			- 
		<div class="text-danger">
			{{ user.lost }}
		</div>
	</div>
	<div class="four">
		<div class="text">
			{{ rank | ordinal }}
		</div>
	</div>
	<div class="five">
		<span *ngIf="user.isOnline" class="badge badge-lg badge-dot">
		   <i class="bg-success"></i>Online
		</span>
		<span *ngIf="!user.isOnline" class="badge badge-lg badge-dot">
			<i class="bg-danger"></i>Offline
		 </span>
	</div>
	<div class="six">
		<td class="text-end">
		<a [routerLink]="['/user/', user.login]" class="btn btn-sm btn-neutral">View</a>
		<!-- <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
		  <i class="bi bi-controller"></i>
		</button> -->
	</div>
</div>
			