body {
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
}

.wrapper {
	display: grid !important;
	grid-template-columns: 23.8% 13% 15.5% 12.4% 15% 20.3%!important;
	font-size: 11px;
	min-width: 730px;
	border-radius: 5px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.text {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-items: center;
}