<div class="form-card">
    <h2 style="margin: 20px;">Create new room</h2>
    <form [formGroup]="roomForm" class="publicChannels">   
        <div class="form-group">
            <label for="name">Room name</label>
            <input id="name" type="text" formControlName="name">
        </div>
        <!-- <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" type="text" formControlName="description" rows="4">
            </textarea>
        </div> -->
        <div class="form-group" formArrayName="members">
            <label for="members">Members</label>
            <div class="memberList">
                <input *ngFor="let number of members.controls; let i = index" 
                        id="members" type="text" formControlName="{{i}}"
                        (keyup.enter)="addMember()">
                <span>
                    <button (click)="addMember()">+</button>
                    <button (click)="deleteMember()">-</button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="ispublic">Public</label>
            <input id="ispublic" type="checkbox" formControlName="ispublic">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" formControlName="password">
        </div>
        <div class="action-buttons">
            <button type="submit" (click)="onCreateChan()" [disabled]="roomForm.invalid">Create</button>
        </div>
    </form>

    <h2 style="margin: 20px;">Direct Message someone</h2>
    <div class="publicChannels">
        <div [formGroup]="userSearchForm">
            <input class="searchBar" id="chanSearch" type="text" placeholder="Search..." formControlName="search">
        </div>
        <div *ngFor="let user of users$ | async">
            <div class="publicChannel" *ngIf="user.login != myUser.login">
                <img [src]="user.avatar">
                <div class="channelName">{{user.nickName}}</div>
                <button (click)="onDMclick(user.login)">Start talking</button>
            </div>
        </div>
    </div>

    <h2 style="margin: 20px;">Join public room</h2>
    <div class="publicChannels">
        <div [formGroup]="chanSearchForm">
            <input class="searchBar" id="userSearch" type="text" placeholder="Search..." formControlName="search">
        </div>
        <div *ngFor="let channel of publicChannels$ | async">
            <div class="publicChannel" *ngIf="!amIonChan(channel.channelName)">
                <div class="channelName">{{channel.channelName}}</div>
                <span *ngIf="channel.is_pwd">password: <input [(ngModel)]="channel.password" type="password" (keydown.enter)="onJoin(channel)"></span>
                <button (click)="onJoin(channel)">Join</button>
            </div>
        </div>
    </div>
</div>