.img-fluid {
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.modal {
	/* center le modal au milieu de la fentre */
	/* superposer le modal au dessus de chaque element */
}
