<div class="container-xl">
		<br>
		<br>

		<div class="row" *ngIf="usersList$ | async as usersList">
			<div *ngIf="usersList[1]" class="col-sm-4">
				<div class="leaderboard-card leaderboard-card--second">
					<div class="leaderboard-card__top">
						<h3 class="text-center">🥈 2nd</h3>
					</div>
					<div class="leaderboard-card__body">
						<div class="text-center">
							<img src="{{ usersList[1].avatar }}" class="circle-img mb-2" alt="user-avatar">
							<h5 class="mb-0">{{ usersList[1].nickName }}</h5>
							<p class="text-muted mb-0">@{{ usersList[1].login }}</p>
							<hr>
							<div class="align-items-center">
								<!-- <button class="btn btn-outline-silver btn-sm">Congratulate 🎉</button> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div  *ngIf="usersList[0]"class="col-sm-4">
				<div class="leaderboard-card leaderboard-card--first">
					<div class="leaderboard-card__top">
						<h3 class="text-center">🥇 1st 🏆</h3>
					</div>
					<div class="leaderboard-card__body">
						<div class="text-center">
							<img src="{{ usersList[0].avatar }}" class="circle-img mb-2" alt="user-avatar">
							<h5 class="mb-0">{{ usersList[0].nickName }}</h5>
							<p class="text-muted mb-0">@{{ usersList[0].login }}</p>
							<hr>
							<div class="align-items-center">
								<!-- <button class="btn btn-outline-gold btn-sm">Congratulate 🎉</button> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div *ngIf="usersList[2]" class="col-sm-4">
				<div class="leaderboard-card leaderboard-card--third">
					<div class="leaderboard-card__top">
						<h3 class="text-center">3rd 🥉</h3>
					</div>
					<div class="leaderboard-card__body">
						<div class="text-center">
							<img src="{{ usersList[2].avatar }}" class="circle-img mb-2" alt="user-avatar">
							<h5 class="mb-0">{{ usersList[2].nickName }}</h5>
							<p class="text-muted mb-0">@{{ usersList[2].login }}</p>
							<hr>
							<div class="align-items-center">
								<!-- <button class="btn btn-outline-bronze btn-sm">Congratulate 🎉</button> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<h4>Top 10</h4>
		<br>
		<div class="wrapper">
			<h5 class="one">User</h5>
			<h5 class="three">Win/Lose</h5>
			<h5 class="three">Rank</h5>
			<h5 class="three">Status</h5>
			<h5></h5>
		</div>
		<br>
		<app-bloc-user *ngFor="let UserIt of usersList$ | async; let i = index" [user]="UserIt" [rank]="(i + 1)"></app-bloc-user>
	</div>