<div class="landing-block">
    <img src="assets/logo.png" alt="Snapface logo">
    <!-- <form #email="ngForm" (ngSubmit)="onSubmitForm(email)">
      <label for="emailInput">Inscrivez-vous pour recevoir la newsletter</label>
      <input type="email" name="userEmail" id="emailInput" placeholder="Votre adresse email" [(ngModel)]="userEmail">
      <button type="submit">OK</button>
    </form> -->
    <div class="landing-links">
      <h2>Join the Leagacy</h2>
      <button (click)="onMatchmaking()" #findMatch>{{buttonText}}</button>
    </div>
</div>