/* You can add global styles to this file, and also import other style files */
.button {
	background: linear-gradient(55deg, #61481C, #E3C770);
	color: #fff;
}

.vignette {
	background: linear-gradient(25deg, #61481C, #E3C770);
	
	color: #fff;
}

