<div class="h-screen flex-grow-1 overflow-y-lg-auto" *ngIf="data$ | async as data">
	<!-- Header -->
	<header class="bg-surface-primary border-bottom pt-6">
		<div class="container-fluid">
			<div class="mb-npx">
				<div class="row align-items-center">
					<div class="col-sm-6 col-12 mb-4 mb-sm-0">
						<!-- Title -->
						<h1 class="h2 mb-0 ls-tight">{{ userID }} public profile</h1>
					</div>
					<!-- Actions -->
					<div class="col-sm-6 col-12 text-sm-end" *ngIf="isLogin() && !myProfile">
						<div class="mx-n1">
							<!-- Block User Button -->
							<a (click)="onClickBlockUser()" class="btn d-inline-flex btn-sm btn-neutral border-base mx-1">
								<span class=" pe-2">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
										class="bi bi-bell-slash" viewBox="0 0 16 16">
										<path
											d="M5.164 14H15c-.299-.199-.557-.553-.78-1-.9-1.8-1.22-5.12-1.22-6 0-.264-.02-.523-.06-.776l-.938.938c.02.708.157 2.154.457 3.58.161.767.377 1.566.663 2.258H6.164l-1 1zm5.581-9.91a3.986 3.986 0 0 0-1.948-1.01L8 2.917l-.797.161A4.002 4.002 0 0 0 4 7c0 .628-.134 2.197-.459 3.742-.05.238-.105.479-.166.718l-1.653 1.653c.02-.037.04-.074.059-.113C2.679 11.2 3 7.88 3 7c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0c.942.19 1.788.645 2.457 1.284l-.707.707zM10 15a2 2 0 1 1-4 0h4zm-9.375.625a.53.53 0 0 0 .75.75l14.75-14.75a.53.53 0 0 0-.75-.75L.625 15.625z" />
									</svg>
								</span>
								<span>{{ actionBlock }}</span>
							</a>
							<!-- Add Friends Button -->
							<a (click)="onClickAddUser(userID)"  class="btn d-inline-flex btn-sm btn-gold mx-1">
								<span class=" pe-2">
									<i class="bi bi-plus"></i>
								</span>
								<span>{{ actionAdd }}</span>
							</a>
						</div>
					</div>
				</div>
				<!-- Nav -->
				<ul class="nav nav-tabs mt-4 overflow-x border-0">
					<li class="nav-item ">
						<a class="nav-link active">Overview</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<br>
	<div class="container-fluid">
		<!-- Card stats -->
		<div class="row g-6 mb-6">
			<app-card-stats [data]="data"></app-card-stats>
			<!-- Last Activity -->
			<div class="row g-6">
				<div class="col-xl-4">
					<app-friends [friends]="data.friends!"></app-friends>
				</div>
			<!-- Match Request -->
				<div class="col-xl-8">
					<app-match-history [matches]="data.matches!"></app-match-history>
				</div>
			</div>
		</div>
	</div>
</div>