<div class="container-sm wrapper">
	<div class="d-flex align-items-center">
		<img src="{{ user.avatar }}" class="circle-img circle-img--small mr-2" alt="User Img">
		<div class="user-info__basic">
			<h5 class="mb-0">{{ user.nickName }}</h5>
			<p class="text-muted mb-0">{{ user.login }}</p>
		</div>
	</div>
	<div class="two align-items-center justify-items-center">
		<h5 class="text-success">{{ user.win }}</h5>
		<h5>/</h5>
		<h5 class="text-danger">{{ user.lost }}</h5>
	</div>
	<div class="three"><h5>{{ rank }}</h5></div>
	<div class="four">
		<span *ngIf="user.isOnline" class="badge badge-lg badge-dot">
			<i class="bg-success"></i>Online
		 </span>
		 <span *ngIf="!user.isOnline" class="badge badge-lg badge-dot">
			 <i class="bg-danger"></i>Offline
		  </span>
	</div>
	
	<!-- <button class="style btn btn-success btn-sm">Congratulate</button> -->
</div>
<br>