<html>
    <head>
        <title>Typescript Pong</title>
        <link href='https://fonts.googleapis.com/css?family=Orbitron:900' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class='game' style="font-family: Orbitron;">
            <div class="playercolumn">
                <div class="player" [ngClass]="{player: !isSpec}" *ngFor="let p of players">
                    <img [src]="p.avatar">
                    <div class="playername">{{p.login}}</div>
                    <div class="playerratio">{{p.win}} / {{p.lost}}</div>
                </div>
            </div>

            <canvas #canvas playing-pong width=1400 height=800></canvas>
            <!-- <button #readyButton (click)="ready()">I'm ready</button> -->
            <!-- <h4>Move left paddle up and down with the arrow keys</h4> -->

        </div>
        <app-gamechat #chat></app-gamechat>
    </body>
</html>