html {
  height: 100%;
}

body{
  text-align: center;
  display: flex;
  flex-direction: row;
  margin: 0; 
}

.playercolumn{
  flex: 1;
  flex-grow: 0;
  margin: 0 10px;
  height: 400px;
  text-align: end;
  
  display: flex;
  flex-direction: column;
  align-content: space-between;

  .player{
    padding: 4px;
    height: 100px;
    width: 100%;

    &:first-child {
      align-items: flex-end;
      img {
        border: 3px solid rgb(214, 181, 34);
      }
    }
    
    font-size: 10px;
    font-weight: bold;

		img {
			height: 70%;
			width: same-as-height;
			border-radius: 5%;
		}
  }
}

.game {
  flex: 2;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100%;
  height: 100%;
  canvas{
    // display: block;
    width: 100%;
    background: black;
  }
}