<div class="my-4 px-lg-6 position-relative">
			<div class="dropup w-full">
			  <button class="button btn-primary d-flex w-full py-3 ps-3 pe-4 align-items-center shadow shadow-3-hover rounded-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				<span class="me-3">
				  <img alt="..." src="{{ profile.avatar }}" class="avatar avatar-sm rounded-circle">
				</span>
				<span class="flex-fill text-start text-sm font-semibold">
				  {{ profile.nickName }}
				</span>
				<span>
				  <i class="bi bi-chevron-expand text-white text-opacity-70"></i>
				</span>
			  </button>
			  <div class="dropdown-menu dropdown-menu-end w-full">
				<div class="dropdown-header">
				  <span class="d-block text-sm text-muted mb-1">Signed in as</span>
				  <span class="d-block text-heading font-semibold">{{ profile.nickName }}</span>
				</div>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" routerLink="" >
				  <i (click)="reload()" class="bi bi-house me-3"></i>Home
				</a>
				<a class="dropdown-item" routerLink="profile">
				  <i (click)="reload()" class="bi bi-pencil me-3"></i>Profile
				</a>
				<a class="dropdown-item" routerLink="profile/settings">
				  <i (click)="reload()" class="bi bi-gear me-3"></i>Settings
				</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" (click)="isLogout()">
				  <i class="bi bi-box-arrow-left me-3"></i>Logout
				</a>
			  </div>
			</div>
		  </div>