<div class="body">

  <app-newroom *ngIf="create"></app-newroom>
  <div class="messagezone" *ngIf="!create && selectedChannel && selectedChannel.messages">
    <h3>{{selectedChannel.channelName}}</h3>
    <div class="dropdown">
      <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
      <button (click)="onLeave()">Leave</button>
    </div>

    <div *ngFor="let member of selectedChannel.userInfoList">
      {{member.login}}: {{member.id}}
      <button *ngIf="isAdmin(myId) && !isAdmin(member.id)" (click)="onMute(member.id)">Mute</button>
      <button *ngIf="isAdmin(myId) && !isAdmin(member.id)" (click)="onBan(member.id)">Ban</button>
      <button *ngIf="isAdmin(myId) && !isAdmin(member.id)" (click)="onPromote(member.id)">Promote</button>
    </div>
    
    <div class="inboxContainer" #messageContainer>
      <div *ngFor="let message of selectedChannel.messages; let i = index;">
        <div class="message" [ngClass]="{isMine: message.user === myLogin}">
          <h4 *ngIf="i === 0 || selectedChannel.messages[i-1].user !== message.user">
            {{message.user}}
          </h4>
          <!-- 
            <div class="message-header-time">{{message.time}}</div>
          -->
          <div class="message-body" [ngClass]="{isMine: message.user === myLogin}">
            <div class="message-body-text">{{message.text}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="inputbar">
      <textarea (keyup.enter)="onSendMessage()" placeholder="Enter message here..." type="text" [(ngModel)]="curMessage">hey</textarea>
      <button (click)="onSendMessage()">Send</button>
    </div>
  </div>

  <div class="contacts">
    
    <div class="contact" (click)="create = !create"><span class="plus"></span>+  Add new room</div>

    <div class="contact" *ngFor="let contact of contacts" (click)="onContactClick(contact)">
      <img src="https://cdn0.iconfinder.com/data/icons/network-and-communication-2-8/66/139-512.png">
      
      <div class="contactW">
        {{contact}}
        <!-- <div class="contact-status">Online</div> -->
      </div>
    </div>
    
  </div>
</div>
<!-- 
<div class="center">

  <div class="contacts">
    <i class="fas fa-bars fa-2x"></i>
    <h2>
      Contacts
    </h2>
    <div class="contact">
      <div class="pic rogers"></div>
      <div class="badge">
        14
      </div>
      <div class="name">
        Steve Rogers
      </div>
      <div class="message">
        That is America's ass 🇺🇸🍑
      </div>
    </div>
  </div>

  <div class="chat">
    <div class="contact bar">
      <div class="pic stark"></div>
      <div class="name">
        Tony Stark
      </div>
      <div class="seen">
        Today at 12:56
      </div>
    </div>
    <div class="messages" id="chat">
      <div class="time">
        Today at 11:41
      </div>
      <div class="message parker">
        Hey, man! What's up, Mr Stark? 👋
      </div>
      <div class="message stark">
        Kid, where'd you come from? 
      </div>
      <div class="message parker">
        Field trip! 🤣
      </div>
      <div class="message parker">
        Uh, what is this guy's problem, Mr. Stark? 🤔
      </div>
      <div class="message stark">
        Uh, he's from space, he came here to steal a necklace from a wizard.
      </div>
      <div class="message stark">
        <div class="typing typing-1"></div>
        <div class="typing typing-2"></div>
        <div class="typing typing-3"></div>
      </div>
    </div>
    <div class="input">
      <i class="fas fa-camera"></i><i class="far fa-laugh-beam"></i><input placeholder="Type your message here!" type="text" /><i class="fas fa-microphone"></i>
    </div>
  </div>
</div> -->